<div class="container">
<h4>{{practice.name}}</h4>
<mat-form-field>
	<input matInput 
		[matDatepicker]="datePicker" 
		[max]="today" 
		[matDatepickerFilter]="dateFilter" 
		placeholder="Submitting reports for:" 
		[formControl]="selectedDateForm"
		[value]="selectedDate">
	<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
	<mat-datepicker #datePicker></mat-datepicker>
</mat-form-field>
</div>

<div class="container">
<small class="text-muted">Showing all providers for your practice.</small>
<div *ngIf="practice.providers.length > 0 else noProviders">
<div *ngFor="let provider of practice.providers">
	<app-daily-summary
	[selectedDate]="selectedDate" 
	[practice]="practice" 
	[provider]="provider" 
	[dailySummaries]="dailySummaries"
	(addSummaryOutput)="addSummary($event)"
	(putSummaryOutput)="putSummary($event)">
</app-daily-summary>
</div>
</div>

<ng-template #noProviders>
	<p>There are no providers associated with this practice.  Contact Practice Concepts to add providers, so you can get to reporting.</p>  

