<div class="container">
	<form [formGroup]="loginForm">
		<div class="form-group form-login">
			<div class="row form-login-row">
				<div class="col-sm-4 align-bottom">
					<label>Email:
					<input 
						type="text" 
						name="email"
						formControlName="email"
						class="form-control"
						autocomplete="on" 
						>
					</label>
					<span 
						*ngFor="let error of authService.errors"
						>{{ error }}
					</span>
				</div>
				<div class="col-sm-4">
					<label>Password:
					<input 
						type="password" 
						name="password"
						formControlName="password"
						class="form-control"
						autocomplete="off" 
						>
					</label>
				</div>
				<div class="col-sm-4 align-bottom">
					<button 
						style="margin-top: 25px"
						class="btn btn-primary btn-concepts-login"
						(click)="login()"
						>Login
					</button>
				</div>
			<div class="col-sm-12">
				<span *ngFor="let error of authService.errors.non_field_errors"
				>{{ error }}
				</span>
			</div>
		</div>
	</div>
	</form>
</div>

