.form-login {
  vertical-align: middle;
  width: 80%;
  margin: 15px;
}

.form-login-row {
  vertical-align: middle;
  margin-bottom: 10px;

}

.align-bottom {
  align-items: flex-end;
  padding: 0;
}

.login-image {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.login-image__div {

}
