<div>
	<mat-card>
	<mat-card-title>{{provider.name}}</mat-card-title>
	<mat-card-content>
	<div *ngIf="dailySummaries.length > 0 || pyDailySummaries.length > 0 else noData">
	<small *ngIf="pyDailySummaries.length == 0">No previous year comparison data to show</small>
	<app-py-chart
		[dailySummaries]="dailySummaries"
		[pyDailySummaries]="pyDailySummaries"
		[chartName]="provider.slug"
		[dailySummaryField]="'visits'"
		>
	</app-py-chart>
	</div>
	</mat-card-content>

	</mat-card>
</div>

<ng-template #noData>
	<app-no-data></app-no-data>
</ng-template>
