.navbar {
	padding-bottom: 0;
	padding-top: 0;
}

.nav__title {
	font-size: 1.4rem;
	align-self: flex-center;
	vertical-align: bottom;
	color: rgb(51, 51, 51);
	font-weight: 350;
	margin-bottom: 0;
}

.nav__img {
	max-width: 3rem;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}



.nav__div {
	display: flex;
	align-items: center;
}

.main-page {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}



