/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
	color: black;
	padding: 0;
	margin: 0;
	--pc-gray-lt: rgb(217, 217, 217);
  --pc-gray-dk: rgb(83, 83, 83);
  --pc-gray-blue-dk: #20295f;
  --pc-gray-blue-lt: #303d8b;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

h1 {
  color: var(--pc-gray-dk);
}

h2 {

}

label {
  font-size: .9rem;
}


.container {
  padding: 20px;
	margin: 20px;
}

.unsaved-changes {
  display: flex;
  justify-content: center;
}

.unsaved-changes p {
  font-size: .6rem;
  font-style: italic;
  margin: 0;
}


.header-text-dk {
	color: #5a646e;
}

.header-text-lt {
	color: rgb(240, 240, 240);
}

.link-active {
	background-color: white !important;
	text-decoration: underline !important;
	text-decoration-color: #3f51b5 !important;
}

.login-error {
  color: rgb(250, 61, 61);
  font-size: .75rem;
  font-style: italic;
}


.fs-h1 {
	font-size: 2.5rem;
}

.fs-h2 {
	font-size: 2rem;
}

.fs-h3 {
	font-size: 1.7rem;
}

.fs-h4 {
	font-size: 1.4 rem;
}

.fs-h5 {
	font-size: 1.1rem;
}

.fs-h6 {
	font-size: .9rem;
}

.no-margin {
	margin: 0;
}

.help-text {
	font-size: .8rem !important;
	font-weight: 400 !important;
	font-style: italic !important;
	color: rgb(114, 114, 114) !important;
}

.form-error {
	font-size: .5rem !important;
	font-weight: 400 !important;
	font-style: italic !important;
	color: rgb(255, 56, 56) !important;
}

input.date-picker {
	color: #3f51b5;
}

input.date-picker:hover {
  cursor: pointer;
}

.testing {
	background-color: red;
}

.btn-primary {
	background-color: var(--pc-gray-blue-dk);
	border-color: var(--pc-gray-blue-dk);
}

.btn-primary:hover {
  background-color: var(--pc-gray-blue-lt);
}

.btn-default:hover {
  background-color: rgb(226, 226, 226);
}

.mat-form-field-wrapper {
    width: 80%;
}

.mat-select {
	text-align: center;
}

.mat-select-value-text {
	font-size: .9rem;
    color: rgb(129, 129, 129);
}

a {
	color: #3f51b5;

}




