<div class="container">
	<div *ngIf="practice" else loading>
		<h4 style="text-align: center">{{practice.name}}</h4>
		<mat-tab-group mat-align-tabs="center">
			<mat-tab label="Providers">
				<ng-template matTabContent>
					<app-provider-list [providers]="practice.providers">
					</app-provider-list>
				</ng-template>
			</mat-tab>
			<mat-tab label="Specialties">
				<ng-template matTabContent>
					<app-specialty-list [specialties]="practice.specialties">
					</app-specialty-list>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</div>

<ng-template #loading>
	<p>Loading...</p>
</ng-template>


	
