/* .brand__nav {
	background-color: white;
	height: 2.8rem;
	display: flex;
	align-items: center;
	border-bottom: 2px;
	border-style: solid;
	border-bottom-color: rgb(150,150,150);
} */
.navbar {
	padding-bottom: 0;
	padding-top: 0;
}

.nav__title {
	font-size: 1.8rem;
	align-self: flex-end;
	vertical-align: bottom;
	color: rgb(51, 51, 51);
	font-weight: 350;
}

.nav__img {
	max-width: 3rem;
	margin: 10px;
}



.nav__div {
	display: flex;
	align-items: center;
}

.main-page {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}



