<div *ngIf="summaryOverviews && pySummaryOverviews && sourceField && sourceType else isLoading">
<app-dash
	[summaryOverviews]="summaryOverviews"
  [pySummaryOverviews]="pySummaryOverviews"
  [collections]="collections"
  [pyCollections]="pyCollections"
	[dashView]="dashView"
	[dateView]="dateView"
	[source]="source"
	[sourceField]="sourceField"
	[sourceFieldStr]="sourceFieldStr"
	[sourceType]="sourceType"
>
</app-dash>
</div>

<ng-template #isLoading>
	<app-loading>
	</app-loading>
</ng-template>
