<mat-card class="no-overflow">
<div><h4>{{source.name}}</h4></div>
	<div *ngIf="dashView =='chart'">
			<app-chart-container
				[summaryOverviews]="summaryOverviews"
				[pySummaryOverviews]="pySumamryOverviews"
				[sourceField]="sourceField"				
				[sourceType]="sourceType"
				[dashView]="dashView"
				[dateView]="dateView"
				[source]="source"
				>
			</app-chart-container>
	</div>
	<div *ngIf="dashView == 'table'">
		<app-table-container
			[summaryOverviews]="summaryOverviews"
			[pySummaryOverviews]="pySummaryOverviews"
			[sourceField]="sourceField"
			[sourceFieldStr]="sourceFieldStr"
			[sourceType]="sourceType"
			[source]="source"
			[dashView]="dashView"
			[dateView]="dateView"
		></app-table-container>
	</div>
</mat-card>
<br>

	<ng-template #noData>
		<app-no-data></app-no-data>
	</ng-template>