<app-user></app-user>
<div *ngIf="entity && dailySummaries else loading">
	<h4 style="text-align: center">{{entity.name}}</h4>
	<mat-tab-group mat-align-tabs="center">
		<mat-tab label="Practices">
			<ng-template matTabContent>
				<app-practice-list [practices]="entity.practices" [dailySummaries]="dailySummaries"></app-practice-list>
			</ng-template>
		</mat-tab>

		<mat-tab label="Providers">
			<ng-template matTabContent>
				<app-provider-list [providers]="entity.providers" [dailySummaries]="dailySummaries"></app-provider-list>
			</ng-template>
		</mat-tab>

		<mat-tab label="Specialties">
			<ng-template matTabContent>
				<app-specialty-list [specialties]="entity.specialties" [dailySummaries]="dailySummaries"></app-specialty-list>
			</ng-template>
		</mat-tab>
	</mat-tab-group>
</div>



<ng-template #loading>
	<p>Loading...</p>
</ng-template>
