<div class="flex-container">
	<mat-card>
	<mat-card-title>
		<div class="flex-container">
			<h2>{{title}}</h2>
		</div>
	</mat-card-title>
	<mat-card-content>
	<form [formGroup]="providerForm">
		<p>
			<mat-form-field class="space-out">
				<label>First name</label>
				<input 
					style="border: 2px blue"
					matInput type="text"
					name="firstNameInput"
					formControlName="firstName"
					class="form-control input-outline"
					>
			</mat-form-field>

			<mat-form-field class="spaced-out">
				<label>Last name</label>
				<input 
					matInput 
					type="text"
					name="lastNameInput"
					formControlName="lastName"
					class="form-control"
				>
			</mat-form-field>
		</p>
		<p>
			<mat-form-field class="spaced-out">
				<label>Credentials</label>
				<input 
					matInput
					type="text"
					name="credentialsInput"
					formControlName="credentials"
					class="form-control"
				>
			</mat-form-field>
</p>
		<p>
			<mat-form-field class="spaced-out">
				<label>Specialty</label>				
				<mat-select					
					formControlName="specialties"
					multiple
					[(ngModel)]="providerSpecialties"
					>
					<mat-option 
						*ngFor="let specialtyName of specialtyList"
						[value]="specialtyName"
						>
						{{specialtyName}}
					</mat-option>
				</mat-select>	
			</mat-form-field>
		</p>				
		<div *ngIf="providerExists==true">
			<button 
				class="btn btn-warning"
				(click)="putProvider()"
				>Submit Changes
			</button>
		</div>
		<div *ngIf="providerExists==false">
			<button 
				type="submit" 
				class="btn btn-primary"
				(click)="addProvider()"
				>Add provider
			</button>
		</div>		
		<button 
			class="btn btn-light"
			(click)="cancel()"
			>Cancel
		</button>
	</form>
	</mat-card-content>
	</mat-card>
</div>

