<div>
	<div class="row">
		<div class="col">
			<mat-form-field autofilled="true">
				<mat-select [(value)]="dashType">
					<mat-option value="chart">Chart</mat-option>
					<mat-option value="table">Table</mat-option>
				</mat-select>
				</mat-form-field>
		</div>
		<div class="col">
			<mat-form-field>
				<mat-select [(value)]="dateView" >
					<mat-option value="MTD" selected="true"><small>Month to Date</small></mat-option>
				<mat-option value="YTD"><small>Year to Date</small></mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
</div>
	<div *ngIf="dashType=='chart'">
			<app-py-chart
				[dailySummaries]="dailySummaries"
				[pyDailySummaries]="pyDailySummaries"
				[chartName]="chartName"
				[dailySummaryField]="'visits'"
				>
			</app-py-chart>
	</div>
	<div *ngIf="dashType == 'table'">
		<app-table-container
			[dailySummaries]="dailySummaries"
			[pyDailySummaries]="pyDailySummaries"
			[dailySummaryField]="'visits'"
		></app-table-container>
	</div>
		
