<div style="padding:10px">
	<form [formGroup]="summaryForm" (ngSubmit)="addSummary()">
		<table>
		<thead><strong>{{specialty}}</strong></thead>
		<tr>
		<mat-form-field>
			<label>Visits</label>
			<input 
				matInput type="text"
			 	name="visitsInput"
			 	formControlName="visits"
			 	class="form-control"
			 	>
			 <span *ngIf="!summaryForm.get('visits').valid && 
			 				summaryForm.get('visits').touched"
			 		class="help-block">
			 	Something's not right. Enter a value that is less than 30
			 </span>

		</mat-form-field>
		</tr>
		<tr>
		<mat-form-field>	
			 <label>Workdays</label>
			<input 
				matInput type="text"
				name="workdaysInput"
				formControlName="workdays"
				class="form-control"
				>
			<span *ngIf="!summaryForm.get('workdays').valid && 
			 				summaryForm.get('workdays').touched"
			 		class="help-block">
			 	Something's not right. Enter a value that is less than 1.5 days
			 </span>
		</mat-form-field>
		</tr>
		<tr>
		<mat-form-field>
		<label>No Shows</label>
			<input 
				matInput type="text"
				name="noshowsInput"
				formControlName="noshows"
				class="form-control"
				>
			<span *ngIf="!summaryForm.get('noshows').valid && 
			 				summaryForm.get('noshows').touched"
			 		class="help-block">
			 	Something's not right. Enter a value that is less than 15
			 </span>
		</mat-form-field>
		</tr>
	</table>
			<br>
		<div *ngIf="dailySummary.last_updated">
			<p>Last updated: {{dailySummary.last_updated}}</p>
		</div>
		<div *ngIf="dailySummary.submitted_on && !dailySummary.last_updated">
			<p>Submitted on: {{dailySummary.submitted_on}}</p>
		</div>
			<div>
				<button *ngIf="!dailySummaryDisabled && !editing" class="btn btn-primary" type="submit">Submit</button>
				<a *ngIf="dailySummaryDisabled && !editing" (click)="enableEditing()" style="color:blue">Edit this summary.</a>
				<button *ngIf="editing" class="btn btn-warning" (click)="putSummary()">Update</button>
				<button *ngIf="editing" class="btn btn-default" (click)="cancelEdit()">Cancel</button>
			</div>
	</form>
</div>

