<div style="padding:10px">
	<form [formGroup]="summaryForm">
		<table>
		<thead class="header-text-dk">{{specialty}}</thead>
		<tr>
		<mat-form-field>
			<label>Visits</label>
			<input
				matInput type="text"
			 	name="visitsInput"
			 	formControlName="visits"
			 	class="form-control"
			 	>
			 <span
			 	*ngIf="summaryForm.get('visits').hasError('required') && summaryForm.get('visits').dirty"
			 	class="help-block"
			 	>This field is required
			 </span>
			 <span *ngIf="!summaryForm.get('visits').valid &&
			 				summaryForm.get('visits').dirty"
			 		class="help-block">
			 	Something's not right. The value should be between value between 1 and 30.
			 </span>

		</mat-form-field>
		</tr>
		<tr>
		<mat-form-field>
			 <label>Workdays</label>
			<input
				matInput type="text"
				name="workdaysInput"
				formControlName="workdays"
				class="form-control"
				>
			<span
				*ngIf="summaryForm.get('workdays').hasError('required') && summaryForm.get('workdays').dirty"
				class="help-block"
			 	>This field is required
			 </span>
			<span *ngIf="!summaryForm.get('workdays').valid &&
			 				summaryForm.get('workdays').dirty"
			 		class="help-block">
			 	Something's not right. Workdays should be between 0.25 and 1.5.
			 </span>
		</mat-form-field>
		</tr>
		<tr>
		<mat-form-field>
		<label>No Shows</label>
			<input
				matInput type="text"
				name="noshowsInput"
				formControlName="noshows"
				class="form-control"
				>
			<span *ngIf="!summaryForm.get('noshows').valid &&
			 				summaryForm.get('noshows').touched"
			 		class="help-block">
			 	Something's not right. This form won't allow noshows to be greater than 15.
			 </span>
		</mat-form-field>
		</tr>
	</table>
			<br>
		<div *ngIf="dailySummary.last_updated">
			<p>Last updated: {{dailySummary.last_updated}}</p>
		</div>
		<div *ngIf="dailySummary.submitted_on && !dailySummary.last_updated">
			<p>Submitted on: {{dailySummary.submitted_on}}</p>
		</div>
			<div>
				<button
					*ngIf="!dailySummaryDisabled && !editing"
					class="btn btn-primary"
          type="submit"
          (click)="addSummary()"
					>Submit
        </button>
        <div *ngIf="dailySummaryDisabled && !editing">
            <button class="btn btn-secondary skinny-btn" (click)="enableEditing()">Edit</button>
        </div>
        <button *ngIf="editing" class="btn btn-warning skinny-btn" (click)="putSummary()">Update</button>
				<button *ngIf="editing" class="btn btn-default skinny-btn" (click)="cancelEdit()">Cancel</button>
			</div>
	</form>
</div>

